<!DOCTYPE html>
<html>
    <head>
        <title>Saumya's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Saumya's Blog</a></h1>
        </header>

        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}

        <!-- <article>
            <time>published: 09-02-2023, 20:45</time>
            <h2><a href="">My first post</a></h2>
            <p>I actually don't really like my hair. I mean, it depends on the day..</p>
        </article>

        <article>
            <time>published: 09-02-2023, 20:45</time>
            <h2><a href="">My second post</a></h2>
            <p>It's just one of those days...</p>
        </article> -->
    </body>
</html>